body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #ffffff;
  
}

/* Contenedor principal */
.home-container {
  display: flex;
  position: relative;
  width: auto;
  height: 100vh;
  overflow: hidden;
}

/* Video de fondo */
.background-videoBiografia {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.1);
  z-index: -1;
}

/* Contenido principal */
.start-screen {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  animation: zoomOut 1s ease-in-out both;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
 background-color: #030303;
  
  pointer-events: auto;
  transition: opacity 0.5s ease;
}

.start-content {
  z-index: 1;
  text-align: center;
  
}

.bio-wrapper{
  background-color:#030303 ;
  
}

.bio-gallery {
  display: flex;
  padding: calc(var(--index) * 4) 0;
}

.bio-gallery > * {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.bio-video {
  max-width: calc(var(--index) * 20); 
  margin-bottom: var(--gallery-gap);
  
  border-radius: 8px;
  border-radius: 8px;
}

.bio-gallery-left {
  margin-top: calc(var(--gallery-gap) * 4);
  
}

.bio-gallery-right .bio-video {
  margin: 0;
  margin-top: var(--gallery-gap );
  
}

.bio-text {
  color: var(--color-text);
  position: relative;
 
}

.bio-heading {
  font-size: 3rem;
  padding: 100px;
  margin-left: 30px;
  font-style: italic;
  font-weight: 700;
  line-height: 3rem;
  color: var(--color-header);
  margin-bottom: 1.5rem;
  
  
}


.bio-heading2 {
  font-size: 3rem;
  padding: 100px;
  margin-left: 30px;
  font-style: italic;
  font-weight: 700;
  line-height: 3rem;
  color: var(--color-header);
  margin-bottom: 1.5rem;
  border-top: 1px solid white; /* Línea blanca arriba de .bio-text */
  border-bottom: 1px solid white; /* Línea blanca abajo de .bio-text */
}


.bio-text__p {
  line-height: 1.75;
 
}













.description {
  color: #fafafa;
  text-align: justify;
  padding: 20px;
  margin: 0 auto;
  font-size: 1.5rem;
  border-radius: 10px;
  font-weight: 800;
  font-family: "__canalFont_3a14ea", "__canalFont_Fallback_3a14ea", sans-serif;
  line-height: 2;
  position: relative; /* Añade posición relativa para elementos pseudo */

  /* Pseudo-elemento para la línea superior */
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px; /* Ajusta el grosor de la línea superior según tus preferencias */
    background-color: rgba(255, 255, 255, 0.735);
  }

  /* Pseudo-elemento para la línea inferior */
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px; /* Ajusta el grosor de la línea inferior según tus preferencias */
    background-color: rgba(255, 255, 255, 0.808);
  }
}



/* Estilos para el botón de silencio/sonido */
.button-mute {
  border: none;
  background-color: transparent;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1;
  transition: background-color 0.3s ease;
  color: #faba25f3;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  transform: perspective(500px) rotateX(30deg);
}

.button-mute:hover {
  background-color: #180521;
}
  
  /* Estilos para la galería de imágenes */
  .image-gallery {
    background-color: #fff;
    color: #000;
    padding: 40px;
    text-align: center;
  }
  
  /* Estilos para el reproductor de música */
  .music-player {
    background-color: #fff;
    color: #000;
    padding: 40px;
    text-align: center;
  }
  
  /* Estilos para la sección de próximos eventos */
  .events-section {
    background-color: #000;
    color: #fff;
    padding: 40px;
    text-align: center;
  }
  
  /* Estilos para la sección de contacto */
  .contact-section {
    background-color: #fff;
    color: #000;
    padding: 40px;
    text-align: center;
  }
  
  /* Estilos para los enlaces a redes sociales */
  .social-links {
    background-color: #000;
    color: #fff;
    padding: 40px;
    text-align: center;
  }
  
  /* Estilos para títulos de sección */
  .social-links h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Estilos para el formulario de contacto */
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  .submit-button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Estilos para los elementos de navegación (por ejemplo, enlaces a redes sociales) */
  .nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    margin: 10px;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #faba25f3;
  }
  
  
@media screen and (max-width: 768px) {
 
  .start-content h1 {
    font-size: 2rem;
  }

  .description {
    font-size: 0.7rem;
    font-weight: 700;
    max-width: 100%;
  }

  .button-mute {
    padding: 5px 10px;
    font-size: 12px;
  }

  .nav-link {
    font-size: 16px;
    margin: 5px;
  }

  .bio {
    display: flex;
    width: calc(var(--index) * 40);
    left: 100px;
    top: 350px;
    z-index: -1;
  }
  
  .bio-container {
    padding: 0 5vw;
  }
  
  .bio-title {
    font-size: calc(var(--index) * 1);
    position: absolute;
    width: 100%;
    text-align: center;
    right: 50px;
    bottom: 25vh;
  }
  
  .bio-heading {
    font-size: 0.9rem;
    padding: 20px;
    margin-left: 0;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5; /* Ajustamos la altura de línea */
  }
  .bio-heading2{
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    margin-left: 0;
    font-weight: 900;
    line-height: 1.5; /* Ajustamos la altura de línea */
  }
  .bio-gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
  
  .bio-gallery-item {
 
    margin-bottom: var(--gallery-gap);
  }
  
  .bio-gallery-left {
    margin-top: var(--gallery-gap);
  }
  
  .bio-text {
    color: var(--color-text);
    text-align: left;
  }
  .bio-video {
    max-width: calc(var(--index) * 14.9); 
    margin-bottom: var(--gallery-gap);
    
    border-radius: 8px;
    border-radius: 8px;
  }
  
  /* Otras modificaciones de estilo para dispositivos móviles, si es necesario */
}
