.bio-wrapper{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10rem;
  padding: 5rem 2rem;
  margin-top: 2rem;
}

 

.box_biography{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  gap: 4rem;
  position: relative;
  margin-top: 3rem;

}

.text_biography , .video_biography{
  display: flex;
  justify-content: center ;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  width: 45%;
  position: relative;
}


.video_biography{
  position: relative !important;
  width:55% !important;
  align-items: center !important;
  width: 40rem !important;
  height: 45rem !important;
}

.video_biography::before{
  content: '';
  position: absolute;
  bottom: -6rem;
  width: 180%;
  height: .1rem;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.267);
}

.video_biography_s2::before{
  display: none !important;
}

.video_biography video{
  object-fit: cover;
  width: 80%;
  height: 45rem;
  border-radius: 5px;
  filter: grayscale(100%);
}

.video_biography:after {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 45rem;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAFklEQVR4AWMAgv/IGFPAvcAHBWMIAAAYUhARXKGDCAAAAABJRU5ErkJggg==);
  background-color: rgba(19, 19, 19, 0.6);
  opacity: .6;
  border-radius: 5px;
  z-index: 10;
}


.text_biography h2{
  font-size: 4vw;
  font-weight: 900;
  line-height: 130%;
  letter-spacing: .3px;
  width: 100%;
}

.text_biography p{
  text-transform: initial;
  color: white;
  font-size: 1.8rem;
  font-weight: 500;
  width: 90%;
  position: relative;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text_biography span{
  color: #C3EBFF;
  font-size: 1.8rem;
  letter-spacing: .5px;
  text-transform: initial;
  font-weight: 600;
  width: 90%;
  position: relative;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box_text_biography{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  gap: 2rem;
  position: relative;
  text-align: center;
  margin-top: 4rem;
}

.box_text_biography span{
  color: #C3EBFF;
  font-size: 1.8rem;
  letter-spacing: .5px;
  text-transform: initial;
  font-weight: 600;
  width: 100%;
  position: relative;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.box_text_biography h2{
	font-size: 5vw;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: .5px;
  width: 100%;
}

.box_text_biography p{
  text-transform: initial;
  color: white;
  font-size: 1.8rem;
  font-weight: 500;
  width: 100%;
  position: relative;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (max-width:1440px) {
  .box_text_biography h2{
    font-size: 5rem;    
  }
  
  .box_text_biography{
    width: 80%;
  }
  .bio-wrapper{
    padding: 5rem 4rem;
  }

}


@media screen and (max-width:1240px) {

  .bio-wrapper{
    margin-top: 2rem;
  }

  .box_biography_video{
    flex-wrap: wrap-reverse !important;
  }

  .box_biography{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 2rem 4rem;
  }
  .text_biography , .video_biography{
    width: 100%;
  }

  .video_biography video{
    width: 90vw !important;
    height: 35rem !important; 
  }
  .video_biography:after {
    top: 50%;
    left: 50%;
    width: 90vw;
    transform: translate(-50% , -50%);
    height: 35rem;
  }

  .text_biography h2{
    font-size: 7vw;
    font-weight: 900;
    line-height: 7.8vw;
  }

  .box_text_biography{
    width: 90%;
    gap: 2rem;
  }

  .box_text_biography h2{
    font-size: 5rem;    
  }
}

@media screen and (max-width:1180px) {

  .text_biography h2{
    font-size: 7vw;
    font-weight: 900;
    line-height: 7.8vw;
  }
  
  .text_biography p{
    font-size: 1.2rem;
    font-weight: 500;
    width: 100%;
  }
  
  .text_biography span{
    font-size: 1.2rem;
    font-weight: 500;
    width: 100%;
  }

  .bio-wrapper{
    gap: 2rem;
    padding: 1rem 5rem;
    margin-top: 7rem;
  }


  .video_biography {
    width: 90vw !important;
    height: 35rem !important; 
  }

  .video_biography video{
    object-fit: cover;
    width: 90vw;
    height: 35rem;
    border-radius: 5px;
    filter: grayscale(100%);
  }

  .video_biography:after {
    top: 50%;
    left: 50%;
    width: 90vw;
    transform: translate(-50% , -50%);
    height: 35rem;
  }

  .box_biography{
    padding: 2rem 2rem;
  }
  .bio-wrapper{
    margin-top: 0rem;
    padding: 1rem 2rem;
  }
  .text_biography_s2{
    margin-top: 5rem;
  }

  .box_text_biography p , .box_text_biography span{
    font-size: 1.5rem;
  }

  .box_text_biography h2{
    font-size: 6vw;    
  }
}


@media screen and (max-width:780px) {
  .text_biography h2{
    font-size: 7vw;
    font-weight: 900;
    line-height: 8.4vw;
  }

  .box_biography {
    padding: 2rem 0rem;
}
  .bio-wrapper{
    margin-top: 0rem;
    padding: 1rem 2rem;
  }

  .text_biography_s2{
    margin-top: 5rem;
  }

  .box_text_biography p , .box_text_biography span{
    font-size: 1.3rem;
  }

  .box_text_biography h2{
    font-size: 8vw;    
  }

  .video_biography::before{
    width: 90%;
  }

  
  .box_text_biography{
    margin-top: 2rem;
  }
}

@media screen and (max-width:550px) {
  .text_biography p{
    font-size: 1.1rem;
    text-transform: initial;
  }

  .text_biography span{
    text-transform: initial;
    font-size: 1.1rem;
  }

  .text_biography h2{
    font-size: 1.9rem;
    font-weight: 900;
    line-height: 130%;
  }
  .box_text_biography p , .box_text_biography span{
    font-size: 1.1rem;
  }
  .box_text_biography h2{
    font-size: 1.9rem;
    line-height: 130%;
  }

  .box_text_biography{
    width: 100%;
    gap: 2rem;
    text-align: start;
  }
}


@media screen and (max-width:370px) {
  .text_biography p{
    font-size: 1.05rem;
    text-transform: initial;
  }

  .text_biography span{
    text-transform: initial;
    font-size: 1.05rem;
  }
  .box_text_biography p , .box_text_biography span{
    font-size: 1.05rem;
  }
  .box_text_biography h2{
    font-size: 1.8rem;
    line-height: 140%;

  }
  .text_biography h2{
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 140%;
  }
}