.carousel {
    position: relative;
    height: 100%;
    width: 100%;
}
main {
    height: 100%;
    width: 100%;
}
.item {
    visibility: hidden;
    transition: all 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
}

.item.active {
    opacity: 1;
    visibility: visible;
}


.ffff{
    border: 5px solid red;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    position: fixed;
    z-index:999999999 !important;
}

.item.inactive {
    transform: translateX(-100%);
}
