.preload-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .preload-svg {
    animation: rotate 1s linear infinite;
  }
  
  .preload-text {
    font-size: 20px;
    margin-top: 10px;
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  