.titulopresteit{
  font-family: 'PPFormula', sans-serif;
  font-size: 6rem;
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  background-color: transparent;
  text-align: center;
 
  animation: glitchShadow 6s linear infinite ;
  transform-origin: center;
  color: #ffffff;
  text-shadow: 0 0 10px #ffe294c3, 0 0 40px #fdefd0d9;
}


.descriptionbuking{
  font-family: 'PPFormula', sans-serif;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  background-color: transparent;
  text-align: center;
  animation: glitchShadow 6s linear infinite ;
  transform-origin: center;
  color: #ffffff;
  text-shadow: 0 0 10px #ffe294c3, 0 0 40px #fdefd0d9;
}

.descriptionbuking::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  clip: rect(1px, auto, 1px, 0);
  animation: glitch 0.3s linear infinite;
}

@keyframes glitchShadow {
  0% {
    text-shadow: 0 0 10px #fff9e8c3, 0 0 40px #fdefd0d9;
  }
  20% {
    text-shadow: 0 0 10px #676767c3, 0 0 10px #fdefd0d9;
  }
  40% {
    text-shadow: 0 0 10px #646464c3, 0 0 40px #fdefd0d9;
  }
  60% {
    text-shadow: 0 0 10px #ffffffc3, 0 0 10px #fdefd0d9;
  }
  80% {
    text-shadow: 0 0 10px #ffffffc3, 0 0 40px #fdefd0d9;
  }
  100% {
    text-shadow: 0 0 10px #fff1ccc3, 0 0 10px #fdefd0d9;
  }
}

@keyframes changeColor1 {
  0% {
      color: #ffffff;
  }
  25% {
      color: #dedede;
  }
  50% {
      color: #faf9fc;
  }
  75% {
      color: #e9e9e9;
  }
  100% {
      color: #ffffff;
  }

}
.background-videoBuking{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.2);
  z-index: -1;
}
.titulopresteit::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  clip: rect(1px, auto, 1px, 0);
  animation: glitch 0.3s linear infinite;
}


@keyframes glitch {
  2%, 64% {
    transform: translate(20rem, 0); /* Ajusta los valores para una expansión lateral mayor */
  }
  4%, 60% {
    transform: translate(-20rem, 0); /* Ajusta los valores para una expansión lateral mayor */
  }
  62% {
    transform: translate(0, 0);
  }
}





@media screen and (min-width: 768px) and (max-width: 1440px) {
  .titulopresteit {
    font-size: 5rem;
    margin-top: 10rem;
    text-shadow: 0 0 2px #ffe294c3, 0 0 8px #fdefd0d9; 
  }
  .descriptionbuking {
    font-size: 3rem;
   
  }
}



@media screen and (max-width: 768px) {
  .titulopresteit {
    font-size: 2rem;
    text-shadow: 0 0 2px #ffe294c3, 0 0 8px #fdefd0d9; 
  }
  .descriptionbuking {
    font-family: 'PPFormula', sans-serif;
    font-size: 0.9rem;
    font-weight: 800;
    letter-spacing: 1.5px;
    margin-bottom: 2rem;
    background-color: transparent;
    text-align: center;
   animation: none;
   text-shadow: none;
    transform-origin: center;
    color: #ffffff;
   
  }
  
  
  
  

 
}