.titulopresteit{
  font-family: 'PPFormula', sans-serif;
  font-size: 6rem;
  font-weight: 800;
  letter-spacing: 1px;
  
  background-color: transparent;
  text-align: center;
 
  transform-origin: center;
  color: #ffffff;
  
}


.descriptionbuking {
  font-family: 'PPFormula', sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  background-color: transparent;
  transform-origin: center;
  color: #ffffff;

  text-align:center
}


.descriptionbuking::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  clip: rect(1px, auto, 1px, 0);
  animation: glitch 0.3s linear infinite;
}


.background-videoBuking{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.2);
  z-index: -1;
}
.titulopresteit::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  clip: rect(1px, auto, 1px, 0);
  animation: glitch 0.3s linear infinite;
}


@keyframes glitch {
  2%, 64% {
    transform: translate(20rem, 0); /* Ajusta los valores para una expansión lateral mayor */
  }
  4%, 60% {
    transform: translate(-20rem, 0); /* Ajusta los valores para una expansión lateral mayor */
  }
  62% {
    transform: translate(0, 0);
  }
}





@media screen and (min-width: 979px) and (max-width: 1440px) {
  .titulopresteit {
    font-size: 5rem;
    margin-top: -20rem;
  
  }
  .descriptionbuking {
    font-size: 3rem;
   
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .titulopresteit {
    font-size: 4rem;
    margin-top: -20rem;
  
  }
  .descriptionbuking {
    font-size: 2rem;
   
  }

}

@media screen and (max-width: 768px) {
  .titulopresteit {
    font-size: 2rem;
    margin-top:-18rem;
  }
  .descriptionbuking {
    font-family: 'PPFormula', sans-serif;
    font-size: 0.9rem;
    font-weight: 800;
    letter-spacing: 1.5px;
    margin-bottom: 2rem;
    background-color: transparent;
    text-align: center;
   animation: none;
   text-shadow: none;
    transform-origin: center;
    color: #ffffff;
   
  }
  
  
  
  

 
}
