.container_animala {
  margin-top: 12rem;
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 4rem;
  gap: 2rem;
}

.box_text_animala {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.box_text_animala h2 {
  font-size: 8rem;
  color: white;
  font-weight: 900;
}

.box_text_animala p {
  font-size: 1.7rem;
  color: white;
  text-transform: initial;
  font-weight: 500;
  position: relative;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* imgs */

.box_img_animala {
  width: 100%;
  height: 90%;
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: flex-start;
  align-items: flex-start;
}

.img_animala {
  width: 16vw;
  height: 20rem;
  position: absolute;
  object-fit: cover;
  border-radius: 8px;
  filter: grayscale(100%);
  transition: 1s;
}

.img_animala:hover {
  filter: grayscale(0);
}

.img_1 {
  top: 2rem;
  left: 2.5rem;
  rotate: -10deg;
}

.img_2 {
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 5;
  width: 20vw;
  height: 40rem;
  filter: grayscale(0);
}

.img_3 {
  top: 2rem;
  right: 2.5rem;
  rotate: 10deg;
}

.img_2:hover {
  filter: grayscale(100%);
}

.img_4 {
  bottom: 1rem;
  left: 3rem;
  height: 30rem;
  width: 17vw;
  z-index: 2;
  rotate: -11deg;
}

.img_5 {
  bottom: 0rem;
  left: 50%;
  z-index: 4;
  transform: translate(-50%, 0%);
  width: 18vw;
  height: 15rem;
}

.img_6 {
  bottom: 1rem;
  right: 4rem;
  rotate: 11deg;
  height: 30rem;
  width: 17vw;
}

.video_animala_mobile {
  width: 100%;
  height: 100%;
  position: relative;
}


@media screen and (max-width: 1400px) {
  .container_animala {
    margin-top: 0rem;
    height: 100%;
    flex-direction: column;
  }

  .box_img_animala {
    width: 100%;
    height: 90vh;
  }
}

@media screen and (max-width: 1400px) {
  .container_animala {
    margin-top: 0rem;
    height: 100%;
    flex-direction: column;
    gap: 6rem;
    padding: 0 1.5rem;
  }

  .box_img_animala {
    width: 100%;
    height: 90vh;
  }

  .img_1 {
    width: 23rem;
    height: 20rem;
  }

  .img_2 {
    width: 25rem;
    height: 36rem;
  }

  .img_3 {
    width: 23rem;
    height: 20rem;
  }

  .img_4 {
    bottom: 2rem;
    height: 28rem;
    width: 20rem;
  }

  .img_5 {
    width: 22rem;
    height: 11rem;
  }

  .img_6 {
    height: 30rem;
    width: 20rem;
  }
}

@media screen and (max-width: 1180px) {
  .box_img_animala {
    width: 100%;
    min-height: 65vh;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .img_1 {
    width: 18rem;
    height: 19rem;
  }

  .img_2 {
    width: 24rem;
    height: 32rem;
  }

  .img_3 {
    width: 23rem;
    height: 24rem;
  }

  .img_4 {
    display: none;
  }

  .img_5 {
    display: none;
  }

  .img_6 {
    display: none;
  }

  .box_text_animala {
    width: 100%;
  }

  .box_text_animala h2 {
    font-size: 13rem;
  }

  .box_text_animala p {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 800px) {
  .box_img_animala {
    width: 100%;
    min-height: 65vh;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .img_1 {
    width: 14rem;
    height: 19rem;
  }

  .img_2 {
    width: 17rem;
    height: 32rem;
  }

  .img_3 {
    width: 14rem;
    height: 24rem;
  }

  .container_animala {
    margin-bottom:6rem;
  }

  .box_text_animala h2 {
    font-size: 8rem;
  }

  .box_text_animala p {
    font-size: 1.36rem;
  }
  
}


@media screen and (max-width: 540px) {
  .box_img_animala {
    display: none;
  }

  .box_text_animala {
    width: 100%;
  }

  .box_text_animala h2 {
    font-size: 5rem;
    color: white;
    font-weight: 900;
  }

  .box_text_animala p {
    font-size: 1.2rem;
    color: white;
    text-transform: initial;
    font-weight: 500;
    position: relative;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}

@media screen and (max-width: 440px) {
  .container_animala {
    margin-top: 0rem ;
    height: 100%;
    flex-direction: column;
    gap: 3rem;
    padding: 0 1.5rem;
  }

  
  .video_animala_mobile {
    height: 30rem;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
}
