body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #ffffff;
}


@font-face {
  font-family: 'RussoOne', sans-serif;
  src: url('../../../components/fonts/RussoOne-Regular.ttf');
}

/* Contenedor principal */
.home-container {
  display: flex;
  position: relative;
  width: auto;
  height: 100vh;
  overflow: hidden;
}

/* Video de fondo */
.background-videoBiografia {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.1);
  z-index: -1;
}

/* Contenido principal */
.start-screen {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  animation: zoomOut 1s ease-in-out both;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s ease;
}

.start-content {
  z-index: 1;
  text-align: center;
}

.bio-wrapper-animala {
  
}

.bio-gallery-animala {
  display: flex;
  padding: calc(var(--index) * 4) 0;
}

.bio-gallery-animala > * {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bio-video2-animala {
  max-width: calc(var(--index) * 15);
  margin-right: 5%;
  margin-bottom: 50px;
  filter: grayscale(50);
  border-radius: 8px;
  border-radius: 8px;
}

.bio-gallery-left-animala {
  margin-top: calc(var(--gallery-gap) * 4);
}

.bio-gallery-right-animala .bio-video-animala {
  margin: 0;
  margin-top: var(--gallery-gap);
}

.bio-text-animala {
  color: var(--color-text);
  position: relative;
}

.bio-animala {
  padding: 200px;
  left: 90%;
  font-weight: 700;
  line-height: 3.5rem;
  color: var(--color-header);
  margin-bottom: 1.5rem;
  
  
}

.bio-animala .title{
 
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  background-color: transparent;
  text-align: center;
  font-family: 'RussoOne', sans-serif;
  transform-origin: center;
  color: #ffffff;
 
}

.bio-animala .title::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  clip: rect(1px, auto, 1px, 0);
  animation: glitch 0.3s linear infinite;
}

.bio-image-static-animala {
  max-width: calc(var(--index) * 12);
  margin-bottom: 50px;
  filter: grayscale(50);
  border-radius: 8px;
  transform: rotate(-5deg);
  margin-top: 100px;
  border-radius: 8px;
  text-align: center;
  position: relative;
  transition: 1s;
}



.bio-image-static-animala:hover {
  filter: none;
}

.bio-image-static2-animala {
  max-width: calc(var(--index) * 12);
  margin-bottom: 10px;
  
  border-radius: 8px;
  transform: rotate(5deg);
  margin-top: 40px;
  border-radius: 8px;
  text-align: center;
  position: relative;
  transition: 1s;
}

.bio-image-static2-animala:hover {
  filter: grayscale(100%);
}

.bio-image-static3-animala {
  max-width: calc(var(--index) * 12);
  margin-bottom: 50px;
  filter: grayscale(50);
  border-radius: 8px;
  margin-top: 100px;
  transform: rotate(12deg);
  border-radius: 8px;
  text-align: center;
  position: relative;
  transition: 1s;
}

.bio-image-static3-animala:hover {
  filter: none;
}


.bio-image-static4-animala {
  max-width: calc(var(--index) * 12);
  margin-bottom: 50px;
  filter: grayscale(50);
  border-radius: 8px;
  transform: rotate(-6deg);
  margin-top: 310px;
  right: 65rem;
  border-radius: 8px;
  text-align: center;
  position: relative;
  transition: 1s;
}



.bio-image-static4-animala:hover {
  filter: none;
}

.bio-image-static5-animala {
  max-width: calc(var(--index) * 12);
  margin-bottom: 50px;
 filter: grayscale(50);
  border-radius: 8px;
  transform: rotate(5deg);
  margin-top: 570px;
  right: 65rem;
  border-radius: 8px;
  text-align: center;
  position: relative;
  transition: 1s;
  
}



.bio-image-static5-animala:hover {
  filter: none;
}

.bio-image-static6-animala {
  max-width: calc(var(--index) * 12);
  margin-bottom: 50px;
  filter: grayscale(50);
  border-radius: 8px;
  transform: rotate(12deg);
  margin-top: 310px;
  right: 64rem;
  border-radius: 8px;
  text-align: center;
  position: relative;
  transition: 1s;
}



.bio-image-static6-animala:hover {
  filter: none;
}


.bio-image-animala {
  right: 100px;
  max-width: calc(var(--index) * 20);
  margin-bottom: 50px;
  transform: rotate(-5deg);
  border-radius: 8px;
  margin-top: 190px;
  border-radius: 8px;
  text-align: center;
  position: relative;
}

.highlighted-text-animala {
  color: rgb(195, 235, 255);
  font-weight: bold;
}

.bio-text-animala {
  font-size: 1.5rem;
  font-family: 'Russo One', sans-serif;
  color: #ffffff;
  margin-top: 8rem;
  line-height: 1.4;
  
}

.image-gallery {
  background-color: #fff;
  color: #000;
  padding: 40px;
  text-align: center;
}

/* Estilos para el reproductor de música */
.music-player {
  background-color: #fff;
  color: #000;
  padding: 40px;
  text-align: center;
}

.bio-video-animala{
 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
  margin-left: 8rem;
  width: 200%;
  height: 80vh;
  object-fit: cover;
  filter: brightness(0.6);
z-index: -1;
border-radius: 8px;
border-radius: 8px;
  
}

@media screen and (min-width: 979px) and (max-width: 1440px) {
  .start-content h1 {
    font-size: 2rem;
  }
  .bio-animala {
    
    
    left: 65%;
    font-weight: 700;
    line-height: 3.5rem;
    color: var(--color-header);
    margin-bottom: 1.5rem;
    
  }

  .bio-animala .title{
    font-size:7rem ;
  }
  
  .bio-image-static-animala {
    max-width: calc(var(--index) * 9);
    margin-bottom: 50px;
    filter: grayscale(50);
    border-radius: 8px;
    transform: rotate(-5deg);
    margin-top: 130px;
    border-radius: 8px;
    text-align: center;
    position: relative;
    transition: 1s;
  }
  
  .bio-image-static-animala:hover {
    filter: none;
  }
  
  .bio-image-static2-animala {
    max-width: calc(var(--index) * 11);
    margin-bottom: 10px;
   
    border-radius: 8px;
    transform: rotate(5deg);
    margin-top: 50px;
   
    text-align: center;
    position: relative;
    transition: 1s;
  }
  
  .bio-image-static2-animala:hover {
    filter: grayscale(100%);
  }
  
  .bio-image-static3-animala {
    max-width: calc(var(--index) * 12);
    margin-bottom: 50px;
    filter: grayscale(50);
    border-radius: 8px;
    margin-top: 100px;
    transform: rotate(12deg);
    border-radius: 8px;
    text-align: center;
    position: relative;
    transition: 1s;
  }
  
  .bio-image-static3-animala:hover {
    filter: none;
  }

  .bio-image-static4-animala {
    max-width: calc(var(--index) * 9);
    margin-bottom: 50px;
    filter: grayscale(50);
    border-radius: 8px;
    margin-top: 250px;
    margin-left: 47rem;
    transform: rotate(12deg);
    border-radius: 8px;
    text-align: center;
    position: relative;
    transition: 1s;
  }
  
  .bio-image-static4-animala:hover {
    filter: none;
  }
  .bio-image-static5-animala {
    max-width: calc(var(--index) * 10);
    margin-bottom: 50px;
    filter: grayscale(50);
    border-radius: 8px;
    margin-top: 340px;
    margin-left: 10rem;
    transform: rotate(5deg);
    border-radius: 8px;
    text-align: center;
    position: relative;
    transition: 1s;
   
  }
  
  .bio-image-static5-animala:hover {
    filter: none;
  }.bio-image-static6-animala {
    max-width: calc(var(--index) * 9);
    margin-bottom: 50px;
    filter: grayscale(50);
    border-radius: 8px;
    margin-top: 150px;
    margin-left: -35rem;
    transform: rotate(-10deg);
    border-radius: 8px;
    text-align: center;
    position: relative;
    filter: brightness(0.8) grayscale(100);
    transition: 1s;
  }
  
  .bio-image-static6-animala:hover {
    filter: none;
  }
  
  
  .bio-image {
    right: 100px;
    max-width: calc(var(--index) * 15);
    margin-bottom: 50px;
    transform: rotate(-5deg);
    border-radius: 8px;
    margin-top: 190px;
    border-radius: 8px;
    text-align: center;
    position: relative;
  }
  
  .highlighted-text-animala {
    color: rgb(195, 235, 255);
    font-weight: bold;
  }
  
  .bio-text-animala {
    font-size: 1.5rem;
    font-family: 'Russo One', sans-serif;
    color: #ffffff;
    margin-top: 8rem;
   font-weight: 600;
    width: 115%;
    z-index: 9999;
  }

 
  
  .bio-container {
    padding: 0 5vw;
  }
  


  .bio-gallery-item {
    margin-bottom: var(--gallery-gap);
  }

  .bio-gallery-left {
    margin-top: var(--gallery-gap);
  }

  .bio-text {
    color: var(--color-text);
    text-align: left;
  }
  .bio-video-animala{
    margin-top: -70px;
    margin-left: 230px;
    width: 100%;
    height: 90vh;
  }

}
@media (min-width: 768px) and (max-width: 979px) {
  .background-videoBiografia {
    filter: brightness(0.5);
  }

  .start-screen {
   
  }

  .bio-gallery-animala {
    display: flex;
    flex-direction: column; /* Cambiado de 'flex-wrap' a 'flex-direction' */
    justify-content: space-between; /* Alinea las imágenes una debajo de la otra */
  }

  .bio-animala {
    padding: 60px;
    left: 40%;
    font-weight: 500;
    line-height: 1.2rem;
    
    color: var(--color-header);
    margin-bottom: 0.5rem;
  }

  .bio-animala .title {
    font-size: 5rem;
    line-height: 1.2rem;
    
  
  }

  .bio-image-common {
    border-radius: 8px;
    text-align: center;
    position: relative;
  }

  
  
 .bio-image-animala{
  display: none;
 }
  .bio-image-static-animala{
display: none;
  }

  .bio-image-static-animala:hover {
    filter: grayscale(100%);
  }

  .bio-image-static2-animala:hover {
    filter: none;
  }

  .bio-text-animala {
   font-weight: 600;
  }
  .bio-video-animala{
    margin-top: 60px;
  
    width: 100%;
    height: 50vh;
  }
}
@media screen and (max-width: 767px) {

  .background-videoBiografia {
    filter: brightness(0.5);
  }

  .start-screen {
   
  }

  .bio-gallery-animala {
    display: flex;
    flex-direction: column; /* Cambiado de 'flex-wrap' a 'flex-direction' */
    justify-content: space-between; /* Alinea las imágenes una debajo de la otra */
  }

  .bio-animala {
    padding: 60px;
    left: 40%;
    font-weight: 500;
    line-height: 1.2rem;
    
    color: var(--color-header);
    margin-bottom: 0.5rem;
  }

  .bio-animala .title {
    font-size: 3rem;
    line-height: 1.2rem;
  
  }

  .bio-image-common {
    border-radius: 8px;
    text-align: center;
    position: relative;
  }

  
  
 .bio-image-animala{
  display: none;
 }
  .bio-image-static-animala{
display: none;
  }

  .bio-image-static-animala:hover {
    filter: grayscale(100%);
  }

  .bio-image-static2-animala:hover {
    filter: none;
  }

  .bio-text-animala {
    font-size: 0.8rem;
    bottom: 100px;
    margin-top: 10rem;
    margin-left: 0;
    line-height: 1.2;
    display: flex;
   
    flex-wrap: wrap;
    padding: 0;
  }
  
  .bio-video-animala{
    margin-top: -100px;
    margin-left: -30%;
    width: 130%;
    height: 40vh;
  }
}

