/* navbar.css */

.navbar {
  /* Estilos generales para la barra de navegación */
}

.nav-item {
  cursor: pointer; /* Cambia el cursor al pasar sobre el ícono para indicar que es interactivo */
}

.icon-container {
  /* Estilos para el contenedor del ícono */
  padding: 10px; /* Agrega relleno alrededor del ícono */
  
  border-radius: 50%; /* Hace que el contenedor tenga forma circular */
}


.home-icon {
padding: 10px;
  color: #ffffff; /* Cambia el color del ícono según tus necesidades */
  font-size: 40px; /* Ajusta el tamaño del ícono según tus necesidades */
}
