/* Backhome.css */
.nav-container {
    display: flex;
    align-items: center;
    text-decoration: none;
   
  }
  
  .img-icon {
    width: 200px;
    height: 200px;
    margin-right: 8px;
    border-radius: 50%;
  }
  