@font-face {
  font-family: 'PPFormula';
  src: url('../../fonts/PPFormula.woff') format('woff'); /* Ajusta la ruta según la ubicación de tu archivo de fuente */
  font-weight: normal;
  font-style: normal;
}


body {

  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #000;
  font-family: 'PPFormula', sans-serif; 
}

/* Contenedor principal */
.home-container {
  display: flex;
  position: relative;
  width: auto;
  height: 100vh;
  overflow: hidden;
}

/* Video de fondo */
.background-video1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%) brightness(0.09);
  z-index: -1;
}


/* Contenido principal */
.start-screen {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  animation: zoomOut 1s ease-in-out both;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
  pointer-events: auto;
  filter: none;
  transition: opacity 0.5s ease;
}

/* Estilos para el contenido principal */
.start-content {
  z-index: 1;
  text-align: center; /* Alinea el texto al centro */
}

.start-content .glitch-text {
  font-family: 'PPFormula', sans-serif;
  font-size: clamp(10vw, 18vw , 16rem);
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  background-color: transparent;
  text-align: center;
  animation: glitchShadow 6s linear infinite;
  transform-origin: center;
  color: #ffffff;
  text-shadow: 0 0 10px #ffffffc3, 0 0 40px #ffffffd9;;
}

@keyframes glitchShadow {
  0% {
    text-shadow: 0 0 10px #fff9e8c3, 0 0 40px #fdefd0d9;
  }
  20% {
    text-shadow: 0 0 10px #676767c3, 0 0 10px #fdefd0d9;
  }
  40% {
    text-shadow: 0 0 10px #646464c3, 0 0 40px #fdefd0d9;
  }
  60% {
    text-shadow: 0 0 10px #ffffffc3, 0 0 10px #fdefd0d9;
  }
  80% {
    text-shadow: 0 0 10px #ffffffc3, 0 0 40px #fdefd0d9;
  }
  100% {
    text-shadow: 0 0 10px #fff1ccc3, 0 0 10px #fdefd0d9;
  }
}




.glitch-text.glitching::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  clip: rect(1px, auto, 1px, 0);
  animation: glitch 0.3s linear infinite;
}

@keyframes glitch {
  2%, 64% {
    transform: translate(20rem, 0); /* Ajusta los valores para una expansión lateral mayor */
  }
  4%, 60% {
    transform: translate(-20rem, 0); /* Ajusta los valores para una expansión lateral mayor */
  }
  62% {
    transform: translate(0, 0);
  }
}

.arrow {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(20px); /* Ajusta la distancia de salto vertical */
  }
  60% {
    transform: translateY(10px); /* Ajusta la distancia de salto vertical */
  }
}


.scene-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  animation: zoomOut 1s ease-in-out both;
  z-index: 1000;
}

/* Estilos para el botón de silencio/sonido */
.button-mute {
  border: none;
  background-color: transparent; /* Cambia el fondo a transparente */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1;
  transition: background-color 0.3s ease;

  color: #faba25f3;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  transform: perspective(500px) rotateX(30deg);
}

.button-mute:hover {
  background-color: #180521;
}

/* Estilos para la galería de imágenes */
.image-gallery {
  background-color: #fff;
  color: #000;
  padding: 40px;
  text-align: center;
}

/* Estilos para el reproductor de música */
.music-player {
  background-color: #fff;
  color: #000;
  padding: 40px;
  text-align: center;
}






.vinyl-button1 {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  left: 50px;
}

/* Estilos para la imagen del vinilo */
.vinyl-img1 {
  display: flex;
  width: 80px; /* Ancho de la imagen del vinilo */
  height: 80px; /* Alto de la imagen del vinilo */
  transition: filter 0.3s;
}

/* Estilos para la imagen del vinilo cuando está activo (no muted) */
.vinyl-button1.unmuted .vinyl-img1 {
  
  animation: spin 4s linear infinite; /* Animación infinita para girar */
  filter: brightness(1.5); /* Cambia el brillo de la imagen */
}
/* Definición de la animación de giro */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Arrow Button {

  @-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
}
  .container {
    height: 100vh;
  }
  .below {
    height: 100vh;
  }
  .arrow {
    position: absolute;
    bottom: 1rem;
    left: 46%;
   
    width: 50px;
    z-index: 9999999;
    opacity: .7;
  }
  
  .bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
  }









@media screen and (max-width: 768px) {
  .start-content .glitch-text {
    font-family: 'PPFormula', sans-serif;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-bottom: 1rem;
    background-color: transparent;
    text-align: center;
    
    text-shadow: 0 0 2px #ffe294c3, 0 0 8px #fdefd0d9; 
    transform-origin: center;
    color: #fffefe;
   
  }
  
  
  

  .vinyl-button1 {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    top: 150%;
    left: -2rem;
  }
  
  /* Estilos para la imagen del vinilo */
  .vinyl-img1 {
    display: flex;
    width: 60px; /* Ancho de la imagen del vinilo */
    height: 60px; /* Alto de la imagen del vinilo */
    transition: filter 0.3s;
    
  }
  .arrow {
    opacity: 0.8;
    left: 10rem;
  }
}
  