.box_hero{
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.box_hero h2{
 font-size: 14rem;
 font-weight: 900;
 position: absolute;
 filter: drop-shadow(0 0 30px black);
 bottom: 10rem;
 width: 55rem;
 line-height: 100%;
 left: 11rem;
 z-index: 101;
}

.box_img_detail{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.box_img_detail img{
    position: absolute;
    top: 10rem;
    border-radius: 8px;
    width: 65rem;
    filter: contrast(103%) brightness(103%);
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .box_hero h2{
        font-size: 10rem;
    }
    .box_img_detail img{
        width: 50rem;
        left: 20rem;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .box_hero h2{
        top: 25rem;
        left: 2rem;
        font-size: 7rem;
    }
    .box_img_detail img {
        width: 40rem;
        left: 14rem;
    }
}

@media screen and (max-width: 767px) {
    .box_hero h2{
        font-size: 5rem;
        top: 25rem;
        left: 5rem;
    }
}

@media screen and (max-width:550px) {

    .box_hero h2{
        font-size: 3rem;
        top: 30rem;
    }
    .box_img_detail img{
       top: 20rem;
    }
}

@media screen and (max-width:370px) {

    .box_hero h2{
        font-size: 2.2rem;
        top: 37rem;
    }

    .box_img_detail img{
        top: 30rem;
    }

}
