.sello{
    position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  padding: 7rem 10rem;
  margin-top: 2rem;
    
}

.selloTitle {

    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.966);
	font-size: 3vw;
	font-weight: 900;
	letter-spacing: .3px;
	width: 100%;
    margin-left: 140px;
 
}
.sello-subtitle{
    text-transform: uppercase;
    justify-content: center ;
    text-align: center;
    letter-spacing: 1px;
    color: #C3EBFF;
	font-size: 3vw;
	font-weight: 900;
	letter-spacing: .3px;
	width: 100%;

}
.sello-biography{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
   
    gap: 1rem;
    position: relative;
    margin-top: 3rem;
   
  
  }
  
  .sello-text{
    display: flex;
    justify-content: center ;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
    width: 90%;
    position: relative;
    
  }
  
  .sello-text p{
    text-transform: initial;
    color: white;
    font-size: 1.8rem;
    font-weight: 500;
    width: 90%;
    position: relative;
   
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .sello-text  span{
    color: #C3EBFF;
    font-size: 1.8rem;
    letter-spacing: .5px;
    text-transform: initial;
    font-weight: 600;
    width: 90%;
    position: relative;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}




@media screen and (max-width:1440px) {
    .selloTitle h2{
      font-size: 5rem;    
    }
    
    .sello-text{
      width: 100%;
    }
    .sello{
      padding: 5rem 4rem;
    }
  
  }
  
  
  @media screen and (max-width:1240px) {
  
    .sello{
      margin-top: 2rem;
    }
  
   
  
    .sello-biography{
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      padding: 2rem 4rem;
    }
    .sello-text {
      width: 100%;
    }
  
   
  
    .selloTitle h1{
      font-size: 7vw;
      font-weight: 900;
      line-height: 7.8vw;
    }
  
    .sello-biography{
      width: 100%;
      gap: 2rem;
    }
  
    .sello-subtitle {
      font-size: 3rem;    
    }
  }
  
  @media screen and (max-width:1180px) {
  
    .selloTitle h1{
      font-size: 7vw;
      font-weight: 900;
      line-height: 7.8vw;
    }
    
    .sello-text p{
      font-size: 1.2rem;
      font-weight: 500;
      width: 100%;
    }
    
    .sello-text span{
      font-size: 1.2rem;
      font-weight: 500;
      width: 100%;
    }
  
    .sello{
      gap: 2rem;
      padding: 1rem 5rem;
      margin-top: 7rem;
    }
  
  
   
  
    .sello-biography{
      padding: 2rem 2rem;
    }
    .sello{
      margin-top: 0rem;
      padding: 1rem 2rem;
    }
}
  
  
  @media screen and (max-width:780px) {
    .sello-subtitle{
      font-size: 4vw;
      font-weight: 900;
      line-height: 8.4vw;
    }
  
    .sello-biography {
      padding: 2rem 0rem;
  }
    .sello{
      margin-top: 0rem;
      padding: 1rem 2rem;
    }
  
    
  
    .sello-text p , .sello-text span{
      font-size: 1.3rem;
    }
  
  
  
  @media screen and (max-width:550px) {
    .sello-text p{
      font-size: 1.1rem;
      text-transform: initial;
    }
  
    .sello-text span{
      text-transform: initial;
      font-size: 1.1rem;
    }
  
    .selloTitle h1{
      font-size: 1.9rem;
      font-weight: 900;
      line-height: 130%;
    }
    .sello-text p , .sello-text span{
      font-size: 1.1rem;
    }
    
  
    .sello-biography{
      width: 100%;
      gap: 2rem;
      text-align: start;
    }
  }
  
  
  @media screen and (max-width:370px) {
    .sello-text p{
      font-size: 1.05rem;
      text-transform: initial;
    }
  
    .sello-text span{
      text-transform: initial;
      font-size: 1.05rem;
    }
   
    .selloTitle h1{
      font-size: 1.8rem;
      line-height: 140%;
      margin-left: -50px;
  
    }
   
  }
  }