* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	--color-header: #ffffff;
	--color-text: #ffffff;
	--gallery-gap: calc(var(--index) * 7.5)
}
@font-face {
    font-family: 'PPFormula', sans-serif;
	src: url('../../../fonts/PPFormula.woff');
}
@font-face {
    font-family: 'PPFormula', sans-serif;
	src: url('../../../fonts/PPFormula.woff');
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'PPFormula', sans-serif;
    color: #f1f1f1;
    
}
/* will-change */
.content, .hero, .main-header, .gallery > * {
	will-change: transform;
}
body {
	background-image: url(https://res.cloudinary.com/dvnhn35l4/image/upload/v1697750497/bg_qjupum.jpg);
	background-size: 50px;
	color: #fafafa;
	
	overflow-x: hidden;
}
.hero {
	width: calc(var(--index) * 36);
	position: absolute;
	left: 37vw;
	top: 22vh;
	z-index: -1;
}
.main-header {
	height: 100vh;
}
.container {
	padding: 0 7vw;
}
.main-title {
	font-size: calc(var(--index) * 8);
	position: absolute;
	width: min-content;
	bottom: 12vh;
	
	line-height: .9;
}
.gallery {
	display: flex;
	padding: calc(var(--index) * 8) 0;
}
.gallery > * {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.gallery__item {
	max-width: calc(var(--index) * 21);
	margin-bottom: var(--gallery-gap);
	max-height: 180vh;
	border-radius: 8px;
}
.gallery__left {
	margin-top: calc(var(--gallery-gap) * 1.75);
}
.gallery__right .gallery__item {
	margin: 0;
	margin-top: var(--gallery-gap);
}
.text-block {
	color: var(--color-text);
	position: relative;
}
.text-block__h {
	font-size: 3rem;
	line-height: 3rem;
	color: var(--color-header);
	margin-bottom: 1.5rem;
}
.text-block__p {
	line-height: 1.75;
}

.background-video5 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
   
    filter: brightness(0.09);
    z-index: -1;
  }





  .container2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	
  }
  
  .row {
	display: flex;
	justify-content: space-between;
	margin: 0;
  }
  
  .column {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
  }
  
  .column img {
	width: 350px;
	height: 500px;
	object-fit: cover;
	opacity: 0.8;
	transition: 0.5s ease;
	margin: 50px;
  }
  
  .column img:hover {
	cursor: crosshair;
	width: 400px;
	height: 600px;
	opacity: 1;
  }





  .text-block__h_rider{
	display: flex;
	margin-top: 9rem;
	left: 40rem;
	 font-size: calc(var(--index) * 5);
	 width: 100%;
	 text-align: center;
	 line-height: 1.2;
	
	 position: relative; /* Agrega posición relativa al contenedor */
}

.text-block__p1{
	display: flex;
	margin-top: 9rem;
	left: 40rem;
	 font-size: calc(var(--index) * 1);
	 width: 100%;
	 text-align: center;
	 line-height: 1.2;
	
	 position: relative; /* Agrega posición relativa al contenedor */
}


.djset{
	display: flex;
	align-items: center;
	justify-content: center;
	left: 40rem;
	 font-size: calc(var(--index) * 2);
	 width: 100%;
	 text-align: center;
	 line-height: 1.2;
	 text-shadow: 0 0 10px #ffb294c3, 0 0 40px #fdd0d0d9;
	 position: relative; 
}


.liveset{
	top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	left: 40rem;
	 font-size: calc(var(--index) * 1);
	 width: 100%;
	 text-align: center;
	 line-height: 1.2;
	 text-shadow: 0 0 10px #ffb294c3, 0 0 40px #fdd0d0d9;
	 position: relative; 
}

.contacto{
	
	display: flex;
	align-items: center;
	justify-content: center;
	left: 41rem;
	bottom: 5rem;
	 font-size: calc(var(--index) * 0.6);
	 width: 30%;
	 text-align: center;
	 line-height: 1.2;

	 position: relative; 
}

  @media screen and (max-width: 767px) {
 
    .hero {
		display: flex;
        width: calc(var(--index) * 40); /* Ajustar el tamaño del héroe para dispositivos móviles */
        left: 100px; /* Posicionar el héroe al principio de la pantalla */
        top: 350px; /* Posicionar el héroe en la parte superior de la pantalla */
        z-index: -1;
    }

   

    .container {
        padding: 0 5vw; /* Menor relleno en dispositivos móviles */
    }

	.main-title {
		font-size: calc(var(--index) * 6); /* Tamaño de fuente */
		position: absolute; /* Mantener la posición absoluta */
		width: 100%; /* Ancho completo */
		text-align: center; /* Centrar el texto */
		right: 50px;
		bottom: 25vh; /* Cambiar la posición vertical a 6vh (ajusta este valor según tus necesidades) */
		line-height: 1.2;
	}
	

    .gallery {
        display: flex;
        flex-wrap: wrap; /* Permitir que los elementos de la galería se envuelvan en dispositivos móviles */
        padding: 0; /* Eliminar el relleno en dispositivos móviles */
    }

    .gallery__item {
        max-width: 100%; /* Ancho máximo para los elementos de la galería en dispositivos móviles */
        margin-bottom: var(--gallery-gap); /* Espacio entre los elementos de la galería */
    }

    .gallery__left {
        margin-top: var(--gallery-gap); /* Espacio en la parte superior de la galería izquierda */
    }

   

    .text-block {
        color: var(--color-text);
    }

    .text-block__h {
        font-size: 1rem; /* Tamaño de fuente más pequeño para encabezados */
		margin: 5px;
        line-height: 2rem;
        color: var(--color-header);
        margin-bottom: 1rem; /* Espacio inferior más pequeño para encabezados */
    }

    .text-block__p {
        line-height: 1.5; /* Espaciado de línea más pequeño para párrafos */
    }

   
  
	.column img {
		width: 125%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 10px; /* Agregar un margen de 10px entre las imágenes */
		height: auto; /* Altura automática para imágenes en dispositivos móviles */
		opacity: 1; /* Establecer la opacidad al 1 por defecto */
		transition: none; /* Eliminar la transición en dispositivos móviles */
	}
	
	.column img:hover {
		cursor: crosshair;
		width: 200px;
		height: 200px;
		opacity: 1;
	  }
	  .text-block__h_rider {
		font-size: 20px;
	  }
	
	  .djset, .liveset {
		font-size: 16px;
	  }
	
	  .text-block__p1 {
		font-size: 14px;
	  }
	
	  .contacto {
		font-size: 16px;
		text-align: left; /* Alinea el contenido a la izquierda */
	  }
	
	
}

