.main-title2 {
    display: flex;
    justify-content: center;
    font-size: calc(var(--index) * 5); 
   margin-top: 20rem;
    width: 100%; 
    text-align: center; 
    bottom: 2vh;
    line-height: 1.2; 
    text-shadow: 0 0 10px #ffe294c3, 0 0 40px #fdefd0d9;
}

.subtitle{
    display: flex;
   left: 65%;
    font-size: calc(var(--index) * 1);
    width: 100%;
    text-align: center;
    line-height: 1.2;
    text-shadow: 0 0 10px #ffe294c3, 0 0 40px #fdefd0d9;
    position: relative; /* Agrega posición relativa al contenedor */
}
  .background-videoLivingbragoni {
    position: absolute;
    top: 230px;
    left:5%;
    width: 90%;
    height: 75%;
    object-fit: cover;
    filter: brightness(0.6);
  z-index: -1;
  }
  



  .vinyl-button {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    bottom: 30px;
    right: 30px;
  }
  
  /* Estilos para la imagen del vinilo */
  .vinyl-img {
    display: flex;
    width: 80px; /* Ancho de la imagen del vinilo */
    height: 80px; /* Alto de la imagen del vinilo */
    transition: filter 0.3s;
  }
  
  /* Estilos para la imagen del vinilo cuando está activo (no muted) */
  .vinyl-button.unmuted .vinyl-img {
    
    animation: spin 4s linear infinite; /* Animación infinita para girar */
    filter: brightness(1.5); /* Cambia el brillo de la imagen */
  }
  
 












  /* Definición de la animación de giro */
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @media screen and (max-width: 767px) {
    .main-title2 {
        
        font-size: calc(var(--index) * 5); /* Tamaño de fuente más pequeño para celulares */
        margin-top: 10rem; /* Margen superior más pequeño para celulares */
        text-shadow: 0 0 5px #ffe294c3, 0 0 20px #fdefd0d9; /* Sombra de texto más suave para celulares */
    }

    .subtitle {
       left: 13rem;
        font-size: calc(var(--index) * 2); /* Tamaño de fuente más pequeño para celulares */
        text-shadow: 0 0 5px #ffe294c3, 0 0 20px #fdefd0d9; /* Sombra de texto más suave para celulares */
    }

    .background-videoLivingbragoni {
        top: 150px;
        width: 45vh;
        height: 50%;
        right: 40%;
    }

    .vinyl-button {
        bottom: 23rem; /* Ajustar la posición para celulares */
        right: 1px; /* Ajustar la posición para celulares */
    }

    .vinyl-img {
        width: 60px; /* Ajustar el tamaño de la imagen del vinilo para celulares */
        height: 60px; /* Ajustar el tamaño de la imagen del vinilo para celulares */
    }
}