.background-video5{
    filter: grayscale(100%) brightness(0.09);;
}

.redes{
    display: flex;
    align-items: center;
    justify-content: center;
    top:50%;
    font-size: 3rem;
}

.redes-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    top:50%;
    margin-top: 5rem;
    gap: 100px;
}

.small-image {
    width: 80px;
    height: 80px;
  }

  @media (max-width: 600px) {
    .redes, .redes-icons {
        display: block;
        text-align: center;
        top: auto;
    }

    .redes {
        font-size: 1rem;
    }

    .redes-icons {
        margin-top: 2rem;
       padding: 50px;
    }
    
    .small-image {
        width: 40px;
        height: 40px;
        margin-right: 20px;
    }
}