
.carousel {
  

    border-color: rgba(255, 255, 255, 0.1);

   
    flex-grow: 1;
    display: grid;
    grid-template-rows: 1.6fr 1fr;
    grid-template-columns: 2fr 1fr;
}

/* Reglas CSS para el elemento .picture */
.picture {
    border-bottom: 2px solid #303030;
}

.picture img {
    
    object-fit: fill;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

audio {
    position: absolute; /* Establece la posición absoluta para que se superponga a la descripción */
    top: 200px; /* Alinea la parte superior del audio con la parte superior del contenedor de descripción */
    left: 70%; /* Alinea la izquierda del audio con la izquierda del contenedor de descripción */
    z-index: 1; /* Asegura que el audio esté por encima de la descripción */

    
}
audio::-webkit-media-controls-panel {
    background-color: #ffffff;
    border-radius: 5px;
}
audio::-webkit-media-controls-play-button, 
audio::-webkit-media-controls-pause-button, 
audio::-webkit-media-controls-mute-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

audio::-webkit-media-controls-play-button:hover, 
audio::-webkit-media-controls-pause-button:hover, 
audio::-webkit-media-controls-mute-button:hover {
    background-color: #0056b3;
}

/* Reglas CSS para el elemento .description */
.description {
    border-left:2px solid #303030;
    border-bottom:2px solid #303030;
    display: flex;
    color: #f1f1f1;
    flex-direction: column;
    flex-flow: column-reverse;
    padding: 4em;
    font-size: 1.2rem;
    text-align: left;
    white-space: pre-line;
    line-height: 1.7;
}

.description p {
    width: 80%;
    font-family: 'PPFormula', sans-serif;
    font-size: 2rem;

}

.description {
    color: rgb(0, 0, 0);
    background: radial-gradient(
        circle at 1% 50%,
        rgb(255, 255, 255),
        rgba(212, 251, 255, 0.86)
    ),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 290 290' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='9.5' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

/* Reglas CSS para el elemento .title */
.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
    flex-basis: 50%;
    font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
    line-height: 3rem;
    margin: 0px;
    color: black;
    text-transform: uppercase;
    background: radial-gradient(
        circle at 1% 190%,
        rgb(255, 255, 255),
        rgba(212, 251, 255, 0.86)
    ),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 290 290' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='9.5' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

.title h1 {
    font-size: 5rem;
    padding-left: 0.89em;
    width: 75%;
  
    font-weight: 800;
    align-self: center;
    color: rgb(0, 0, 0);
    line-height: 0.8;
    height: 128px;
    transition: all 0.5s ease;
    top: -128px;
    position: relative;
}

.title:hover h1 {
    color: #000000;
    top: -0px;
}

.title i {
    font-size: 5rem;
    align-self: center;
    color: #f1f1f1;
}

/* Media Query */
@media (max-width: 977px) {
    .title {
        padding-top: 3em;
        padding-bottom: 3em;
    }

    .title h1 {
        padding-left: 0.2em;
    }
}

/* Reglas CSS para el elemento .thing */
.thing {
    height: 128px;
    width: 100%;
    overflow: hidden;
    align-self: center;
    display: flex;
}

/* Reglas CSS para el elemento .controls */
.controls {
    border-left: 2px solid #303030;
    background: radial-gradient(
        circle at 50% 100%,
        rgb(255, 255, 255),
        rgba(212, 251, 255, 0.86)
    ),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 290 290' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='9.5' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

.controls button {
  
    border: 1px solid #303030;;
    color: #f1f1f1;
    width: 50%;
    height: 100%;
    cursor: pointer;
    transition: all 0.5s ease;
    background: radial-gradient(
        circle at 50% 100%,
        rgb(255, 255, 255),
        rgba(212, 251, 255, 0.86)
    )
}

.controls button::-moz-focus-inner {
    border: 0;
}

.controls button:focus {
    outline: none;
}

.controls button:active {
    outline: none;
}

.controls button:hover {
    outline: none;
    filter: brightness(1.6);
}

@media (max-width: 480px) {
    .carousel {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr; 
    }

    .picture {
        border-bottom: none; 
    }

    .description {
        padding: 2em; 
        font-size: 0.5rem; 
       
    }
    ._description_c3q66_59{
        font-size: 0.6rem;
    }

    .title {
        padding: 1rem 2rem;
    }

    .title h1 {
        font-size: 3rem;
        padding-left: 0.2em;
    }

    .controls {
        display: flex;
        flex-direction: row;
    }

    .controls button {
        width: 25%; 
    }
}

