body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #000;
  font-family: 'Clash Display', sans-serif;
}

/* Contenedor principal */
.home-container {
  display: flex;
  position: relative;
  width: auto;
  height: 100vh;
  overflow: hidden;
}

/* Video de fondo */
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.1);
  z-index: -1;
}

/* Contenido principal */
.start-screen {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  animation: zoomOut 1s ease-in-out both;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
  pointer-events: auto;
  filter: none;
  transition: opacity 0.5s ease;
}

.start-content {
  z-index: 1;
  text-align: center;
}

/* Estilos para la descripción */
.description {
  color: #fafafa;
  letter-spacing: 0.01rem; /* Cambia este valor */
  max-width: 75%;
  text-align: justify;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  margin: 0 auto;
  line-height: 1.5;
  
  font-size: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


/* Estilos para el botón de silencio/sonido */
.button-mute {
  border: none;
  background-color: transparent;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1;
  transition: background-color 0.3s ease;
  color: #faba25f3;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  transform: perspective(500px) rotateX(30deg);
}

.button-mute:hover {
  background-color: #180521;
}
  
  /* Estilos para la galería de imágenes */
  .image-gallery {
    background-color: #fff;
    color: #000;
    padding: 40px;
    text-align: center;
  }
  
  /* Estilos para el reproductor de música */
  .music-player {
    background-color: #fff;
    color: #000;
    padding: 40px;
    text-align: center;
  }
  
  /* Estilos para la sección de próximos eventos */
  .events-section {
    background-color: #000;
    color: #fff;
    padding: 40px;
    text-align: center;
  }
  
  /* Estilos para la sección de contacto */
  .contact-section {
    background-color: #fff;
    color: #000;
    padding: 40px;
    text-align: center;
  }
  
  /* Estilos para los enlaces a redes sociales */
  .social-links {
    background-color: #000;
    color: #fff;
    padding: 40px;
    text-align: center;
  }
  
  /* Estilos para títulos de sección */
  .social-links h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Estilos para el formulario de contacto */
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  .submit-button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Estilos para los elementos de navegación (por ejemplo, enlaces a redes sociales) */
  .nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    margin: 10px;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #faba25f3;
  }
  
  
  /* Estilos para la batería */
  
 /* Estilos para dispositivos móviles (ancho de pantalla <= 768px) */
@media screen and (max-width: 768px) {
  /* Modificar títulos de sección */
  .start-content h1 {
    font-size: 2rem;
  }

  /* Modificar descripción */
  .description {
    font-size: 0.7rem;
    font-weight: 700;
    max-width: 100%;
  }

  /* Modificar botón de silencio/sonido */
  .button-mute {
    padding: 5px 10px;
    font-size: 12px;
  }

  /* Modificar navegación */
  .nav-link {
    font-size: 16px;
    margin: 5px;
  }

  /* Otras modificaciones de estilo para dispositivos móviles, si es necesario */
}
