/* sceneScroll.css */

body {
  font-family: "Messina", sans-serif;
  width: 100vw;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  font-size: 14px;
  line-height: 20px;
  
  scrollbar-width: 1px; /* Establece el ancho de la barra de desplazamiento */
  z-index: 999;
}

/* Estiliza la barra de desplazamiento */
body::-webkit-scrollbar {
  width: 0.2px; /* Ancho de la barra de desplazamiento en navegadores webkit (Chrome, Safari, Edge) */
}

body::-webkit-scrollbar-track {
  background: #000000; /* Color de fondo de la barra de desplazamiento */
}

body::-webkit-scrollbar-thumb {
  background: #333; /* Color del "pomo" de la barra de desplazamiento */
}

body::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color del "pomo" cuando se pasa el mouse sobre él */
}


.inactive {
  opacity: 0.5;
  pointer-events: none;

}

.scene-scroll-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20vw;
  transition: transform 0.8s ease, opacity 0.3s ease;
  overflow-x: scroll;
  white-space: nowrap;
}

.section {
  position: relative;
  width: calc(100vw / 4);
  flex-direction: column;
  transition: transform 1s ease;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

.section.inactive {
  opacity: 0.5;
  pointer-events: none;
 
}

.section.active {
  filter: brightness(1.5);
  bottom: 2%;
  transform: scale(1.1);
}

.background-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 125%;
  height: 100%;
  background-color: #ff0a0a;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}

.section h1 {
  
  
  margin-left: 30rem;
  font-family: "Messina", sans-serif;
  font-weight: 600;
  transform: rotateX(30deg);
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  bottom: 90rem;
  width: 100%;
  height: 33.33vh;
  object-fit: cover;
  z-index: -1;
}

.video-background-active {
  border: 1px solid;
}

.content {
  z-index: 1;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
}

.start-button1,
.start-button2 {
  font-family: 'Permanent Marker', cursive;
  background: none;
  display: flex;
  opacity: 1;
  border: none;
  border-radius: 10px;
  margin-left: 80%;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  position: relative;
  overflow: hidden;
  text-shadow: 10px 3px 4px rgba(0, 0, 0, 0.5);
  transform: perspective(900px) rotateX(30deg);
}

.start-button1:hover,
.start-button2:hover {
  background: url('https://res.cloudinary.com/dvnhn35l4/image/upload/v1692066011/cartas_oecxtx.gif')
    center/cover no-repeat;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 1;
  background-size: cover;
  transform: scale(1.5);
  color: #1ebfc4f3;
  text-shadow: 10px 3px 4px rgba(0, 0, 0, 0.5);
  transform: perspective(900px) rotateX(30deg);
}

/* Media query para dispositivos móviles */
@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  text-shadow: none;
  background-color: #090909;
  line-height: 1.5;
  white-space: normal;
  overflow: visible;
  background-color: #090909;
  text-transform: none;
  overflow: visible;
  overflow-x: hidden;
    font-size: 16px;
  }

  .section h1 {
    font-size: 4rem;
  }

  .start-button1,
  .start-button2 {
    font-size: 1.5rem;
    bottom: 10rem;
  }
  .scene-scroll-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vw;
    transition: transform 0.8s ease, opacity 0.3s ease;
    overflow-x: scroll;
    white-space: nowrap;
  }
  
  .section {
    position: relative;
    width: calc(125vw /3);
    flex-direction: column;
    transition: transform 1s ease;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    overflow: hidden;
  }
}
