
/* Estilos generales */
body {
  margin: 0;
  padding: 0;
 
  background-color: #000000;
  
}

.scroll-reveal {
  opacity: 0; /* Inicialmente, establece la opacidad en 0 para ocultar el elemento */
  transform: translateY(20px); /* Desplaza el elemento hacia abajo */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Transición suave para la animación */
}

.scroll-reveal.active {
  opacity: 1; /* Cuando la clase "active" se agrega al elemento, establece la opacidad en 1 para mostrarlo */
  transform: translateY(0); /* Restablece la posición del elemento a su posición original */
}

