.redes {
    display: flex;
    align-items: center;
    justify-content: center;
    top:100%;
    margin-top: 200px;
    font-size: 1.5rem;
}

.redes h1{
    font-size: 4rem;
}

@media screen and (max-width: 768px) {
    .redes h1{
        font-size: 2rem;
    }
    
}