.redes {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.redes-icons a{
    transition: all .5s ease;
}

.redes-icons a:hover {
    scale:1.1;
    transition: all .5s ease;
}

.redes h1{
    font-size: 4rem;
}

@media screen and (max-width: 768px) {
    .redes h1{
        font-size: 2rem;
    }
    
}