.background-video5{
 
        filter: grayscale(100%) brightness(0.2);
    
}
.redesnico{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
    }

.artistas1{
        display: flex;
        justify-content: center;
        align-items: center;
}
    @media screen and (min-width: 768px) and (max-width: 1440px) {
        .redesnico{
         
                font-size: 2rem;
            }
}

@media screen and (max-width: 767px) {
        .redesnico{
         
                font-size: 1rem;
            }
            .artistas1{
                margin-top: -20rem;
            }
}