@import "./AppVariables.scss";

.navbar {
  display: flex;
  width: 100%;
  border-bottom: $semi_transparent_white_border;
  font-size: 1.5rem;
  background-color: rgb(2, 2, 2);
  h1,
  h2,
  h3,
  a,
  p,
  span {
    font-family: 'PPFormula', sans-serif;
    font-size: 5.5rem;
    font-weight: 400;
    color: $color_top_navbar;
  }
  a {
    text-decoration: none;
  }

  &__section {
    padding: 3rem 2rem;
    display: flex;
    gap: 1rem;
    background-color:rgb(2, 2, 2);
    align-items: center;
    justify-content: center;

    &-logo,
    &-links {
      flex-basis: calc(100% / 3);
    }

    &-social,
    &-contact {
      flex-grow: 1;
    }

    &-links {
      justify-content: space-evenly;
    }

    &-social {
      justify-content: space-evenly;
    }

  }

  .home{
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 50px;
    color: #ffffff;
  
    border: none;
    font-size: 2.5rem;
  }
  /* Media Query para pantallas más pequeñas */
  @media only screen and (max-width: 768px) {
   

    &__section {
      

      &-logo,
      &-links,
      &-social,
      &-contact {
        flex-basis: 100%;
      }
      span {
       
        font-size: 1rem;
        font-weight: 400;
        color: $color_top_navbar;
      }
      .home {
        color: #ffffff;
        background-color: none;
        margin-left: -10px;
        border: none;
        font-size: 1rem;
      }
    }
  }
}
