@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

 
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 1.4rem;
  text-align: center;
  
}

.app{
  background-color: rgba(1, 1, 1, 0.663);
  overflow: hidden;
}

.background{
  background-color: rgba(0, 0, 0, 0.836);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background-image: url("https://res.cloudinary.com/dvnhn35l4/image/upload/v1698194123/background_utccu2.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}
